body {
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    background-color: #000;
    font-family: Arial, sans-serif;
}

#instructions {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    z-index: 10;
}

canvas {
    display: block;
}
